@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-900: 0, 0, 0; /* #000000  (از پررنگ به کمرنگ)*/
    --color-primary-800: 18, 18, 18; /* #121212 */
    --color-primary-700: 40, 40, 40; /* #282828 */
    --color-primary-600: 42, 42, 42; /* #2A2A2A */
    --color-primary-500: 24, 24, 24; /* #181818 */
    --color-primary-400: 164, 182, 255;
    --color-primary-300: 183, 197, 255;
    --color-primary-200: 201, 211, 255;
    --color-primary-100: 219, 226, 255;
    --color-primary-50: 228, 233, 255;
    --color-secondary-900: 17, 24, 39;
    --color-secondary-800: 31, 41, 55;
    --color-secondary-700: 55, 65, 81;
    --color-secondary-600: 75, 85, 99;
    --color-secondary-500: 107, 114, 128;
    --color-secondary-400: 156, 163, 175;
    --color-secondary-300: 209, 213, 219;
    --color-secondary-200: 114, 114, 114; /* #727272 */
    --color-secondary-100: 167, 167, 167; /* #a7a7a7 */
    --color-secondary-50: 179, 179, 179; /* #b3b3b3 */
    --color-secondary-0: 255, 255, 255; /* #ffffff  (از کمرنگ به پررنگ) */

    --color-success: 0, 192, 115;
    --color-warning: 255, 153, 0;
    --color-error: 255, 71, 87;
    --color-blue: 13, 114, 234;
    /* 0d72ea */
  }
}

html,
body {
  min-height: 100vh;
  user-select: none;
  background-color: rgb(var(--color-primary-900));
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl,
    CircularSp-Grek, CircularSp-Deva, Helvetica, Arial, sans-serif;
}
.list .tippy-box {
  background-color: rgb(var(--color-blue));
}

.list .tippy-arrow {
  color: rgb(var(--color-blue));
}

.bg-linear {
  background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
}

@layer components {
  .input__field {
    @apply bg-primary-800 rounded border px-4 py-2 w-full
    outline-none duration-300 transition ease-linear focus:ring-secondary-0 focus:ring-2;
  }
  .btn {
    @apply px-3 font-bold transition duration-300 py-3 rounded-full;
  }
  .btn--primary {
    @apply bg-success w-full text-center text-primary-900 py-2 mt-4 hover:scale-105;
  }
  .btn-playIcon {
    @apply flex cursor-pointer bg-success shadow-md rounded-full p-4 w-fit hover:scale-105 transition-all ease-linear duration-150 items-center justify-center;
  }
  .list-item {
    @apply border-b-[1px] py-3 border-primary-700 flex gap-x-2 items-center;
  }
  .title {
    @apply text-2xl font-bold text-secondary-0;
  }
}

@layer utilities {
  /* hide scrollar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* style scrollbar*/
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgb(97, 97, 97);
    background: linear-gradient(
      25deg,
      rgba(97, 97, 97, 1) 0%,
      rgb(97, 97, 97) 35%,
      rgba(25, 25, 25, 1) 100%
    );
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #5555557f;
  }
}
.iconify {
  display: flex;
  font-size: 39px;
  margin: 0px 13px;
}

.progress-bar-wrapper {
  display: flex;
}
.rhap_controls-section {
  display: flex;
  justify-content: space-between;
}
.rhap_progress-section {
  display: flex;
  gap: 5px;
}
.toggle-play-button {
  background-color: red !important;
}
.rhap_main {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  background-color: rgb(var(--color-primary-900));
  color: rgb(var(--color-secondary-50));
  /* position: fixed; */
  bottom: 0px;
  right: 0px;
  /* z-index: 999; */
  width: 100%;
  padding: 10px;
}
.rhap_play-pause-button {
  color: rgb(var(--color-secondary-0));
}
.rhap_play-pause-button:hover {
  scale: 1.1;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
