@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-900: 0, 0, 0; /* #000000 */
    --color-primary-800: 18, 18, 18; /* #121212 */
    --color-primary-700: 40, 40, 40; /* #282828 */
    --color-primary-600: 42, 42, 42; /* #2A2A2A */
    --color-primary-500: 24, 24, 24; /* #181818 */
    --color-primary-400: 164, 182, 255;
    --color-primary-300: 183, 197, 255;
    --color-primary-200: 201, 211, 255;
    --color-primary-100: 219, 226, 255;
    --color-primary-50: 228, 233, 255;
    --color-secondary-900: 17, 24, 39;
    --color-secondary-800: 31, 41, 55;
    --color-secondary-700: 55, 65, 81;
    --color-secondary-600: 75, 85, 99;
    --color-secondary-500: 107, 114, 128;
    --color-secondary-400: 156, 163, 175;
    --color-secondary-300: 209, 213, 219;
    --color-secondary-200: 229, 231, 235;
    --color-secondary-100: 167, 167, 167; /* #a7a7a7 */
    --color-secondary-50: 179, 179, 179; /* #b3b3b3 */
    --color-secondary-0: 255, 255, 255; /* #ffffff */
    --color-success: 0, 192, 115;
    --color-warning: 255, 153, 0;
    --color-error: 255, 71, 87;
    --color-green-500: 30, 215, 96; /* #1ED760 */
    --color-red-300: 252, 165, 165;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  user-select: none;
  background-color: rgb(var(--color-primary-900));

  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl,
    CircularSp-Grek, CircularSp-Deva, Helvetica, Arial, sans-serif;
}
.tt {
  z-index: 9999;
  visibility: visible;
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(328px, 187px, 0px);
}
.f {
  background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgb(97, 97, 97);
  background: linear-gradient(
    25deg,
    rgba(97, 97, 97, 1) 0%,
    rgb(97, 97, 97) 35%,
    rgba(25, 25, 25, 1) 100%
  );
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5555557f;
}
